 body{
	background-image: url(images/fon.jpg) ;
	background-size: :fixed; 
	font-family: arial;
	 background-size: 100%;
	 background-attachment:fixed;
}
b, .test4,{
	color: black; 
	padding: 8px; 
	border-radius:15px ;
	text-decoration:none;



}
	

#test:hover{
	transition: all 1s ease;
	transform:rotate(5deg)scale(0.9) ;
}

.test3{
	margin:102px ; 
	background: rgb(56,103,55);
	color: black; /* Цвет текста */
	padding: 6px; /* Поля вокруг текста */
	border-radius:15px ;
	text-decoration:none;

	}


.test5{
	 /* Цвет фона под заголовком */
	color: black; /* Цвет текста */
	padding: 4px; /* Поля вокруг текста */
	border-radius:15px ;
	text-decoration:none;
	display:inline;
}

#test6{
	box-shadow: 0 0 5px;
	margin-left:140px;
	font-family: Impact;
	color: white;
	background: rgba(66,121,118,0.9);
	padding: 10px; /* Поля вокруг текста */
	border-radius:90px ;

}

